.container{
    display: flex;
}
.grid-user{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}

.grid div{
    width: 40px;
    height: 40px;
    /* background-color: red; */
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 204, 80);
    margin: 20px;

}

.grid-display{
    width: 400px;
    height: 400px;
    background-color: rgb(228, 241, 38);
    margin: 20px;

}

.grid-display-vertical {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: teal;
    display: flex;
  }

.destroyer-container{
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}
.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    background-color: orangered;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.submarine-container{
    width: 120px;
    height: 40px;
    background-color: rgb(192, 19, 140);
    margin: 10px;
    display: flex;
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    background-color: rgb(85, 3, 3);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.cruiser-container{
    width: 120px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.cruiser-container-vertical {
    width: 40px;
    height: 120px;
    background-color: rgb(56, 199, 43);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.battleship-container{
    width: 160px;
    height: 40px;
    background-color: rgb(116, 187, 235);
    margin: 10px;
    display: flex;
}
.battleship-container-vertical {
    width: 40px;
    height: 160px;
    background-color: rgb(253, 249, 30);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.carrier-container{
    width: 200px;
    height: 40px;
    background-color: rgb(238, 36, 130);
    margin: 10px;
    display: flex;
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    background-color: rgb(207, 32, 184);
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.destroyer {
    background-color: orangered;
  }
  .submarine {
    background-color: rgb(85, 3, 3);
  }
  .cruiser {
    background-color: rgb(179, 243, 61);
  }
  .battleship {
    background-color: rgb(253, 249, 30);
  }
  .carrier {
    background-color: rgb(207, 32, 184);
  }
  .grid-computer .destroyer {
    background-color: rgb(47, 126, 230);
  }
  .grid-computer .submarine {
    background-color: rgb(88, 87, 160);
  }
  .grid-computer .cruiser {
    background-color: rgb(218, 72, 174);
  }
  .grid-computer .battleship {
    background-color: rgb(160, 49, 235);
  }
  .grid-computer .carrier {
    background-color: rgb(38, 156, 87);
  }

  .boom {
    background-color: red;
  }
  .miss {
    background-color: black;
  }
.ship div{
    width: 40px;
    height: 40px;

}































